// COLORS
$color-white: #fff;
$color-grey: #ccc;
$color-black: #000;
$main-gradient: linear-gradient(
  to right top,
  #fabb51,
  #d6b749,
  #b4b148,
  #94a94b,
  #76a051,
  #619551,
  #4e8a51,
  #3c7f51,
  #2d704b,
  #1f6244,
  #12543d,
  #064635
);

// FONTS
$font-lobster: "Lobster", sans-serif;
$font-playfair: "Playfair", sans-serif;
