.body-thanks {
  background-image: $main-gradient;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.thanks {
  margin-top: auto auto;

  &-heading {
    font-size: 15rem;
    margin-top: 20%;
    text-align: center;
    font-family: $font-lobster;
    color: $color-white;
    -webkit-text-stroke: 0.005rem $color-black;
  }
}

.second-heading {
  padding: 2rem;
  font-size: 7rem;
  margin-top: 4rem;
  text-align: center;
  font-family: $font-lobster;
  color: $color-white;
  -webkit-text-stroke: 0.01rem $color-black;
}
